body {
    width: 90vw;
    margin: 50px auto;
    font-family: 'Yu Gothic';
}

.form-control {
    height: 20px;
    margin: 5px;
    padding: 5px;
    border: solid 3px orange;
    border-radius: 5%;
}

#submit-btn {
    background-color: orange;
    border: solid 3px orangered;
    margin-top: 10px;
    font-weight: bold;
}
#submit-btn:hover {
    background-color: rgb(255, 219, 152);
    cursor: pointer;
}

#node-matrix__table {
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
}

#node-matrix__table td {
    width: min-content;
}

#my-networks {
    width: 100%;
    height: 300px;
}

#edge-container {
    -webkit-column-count: 2;
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

#edge-coordinates {
    height: 300px;
}